@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("sp://import/css/core-dark.css");
@import url("sp://import/css/shared.css");


body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;

}
nav{
    font-family: "Helvetica", "Arial", sans-serif;
    
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li{
    padding: 20px 12px;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: "Helvetica", "Arial", sans-serif;
    width: 70%;
    display: flex;
    margin: 23px auto;
    border-radius: 12px;
    background-image: url(weekndbg.jpg);
    background-size: cover;
    
    
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    background-color: black;
    display: flex;
    height: 50px;
    width: 90%;
    color: white;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    
}

.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }